body {
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
#uploadbtn {
    background-color: rgb(255, 87, 87);
    color: rgb(255, 255, 255);
    border: 0px;
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    display: flex;
    font-size: 25px;
}
#uploadbtn:hover {
    background-color: rgb(143, 47, 47);
}
select {
    background-color: rgb(32, 32, 32);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 200px;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
select::-ms-expand {
    display: none;
}
select::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}
option {
    padding: 10px;
    font-size: 16px;
}
select:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}